.pro-product-section {
    z-index: 1;
    background-image: linear-gradient(180deg, #6aa0ff,white);
    margin-top: 80px;
    margin-bottom: 80px;
    padding-top: 100px;
    padding-bottom: 40px;
    position: relative;
}
.pro-section-spacing {
    padding-left: 20px;
    padding-right: 20px;
}
.pro-container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.pro-section-heading.product-heading {
    text-align: center;
    width: 100%;
    max-width: 539px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
.pro-c-sub-title-wrap-2 {
    background-color: #ffffff1a;
    border: 1px solid #ffffff4d;
    border-radius: 20px;
    margin-bottom: 12px;
    padding: 6px 20px;
    display: inline-block;
}
.pro-c-sub-title-2 {
    color: white;
    font-size: 12px;
    line-height: var(--_line-height---lh-116);
    letter-spacing: var(--_letter-spacing---ls-1);
    font-weight: 500;
    text-align: center;
}
.pro-common-title.white {
    color:white;
}

.pro-common-title {
    font-size: 48px;
    line-height:3.5rem;
    letter-spacing: var(--_letter-spacing---ls-4);
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
}
.pro-product-layout {
    grid-column-gap: 98px;
    grid-row-gap: 98px;
    background-color:white;
    border-radius: 16px;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    display: flex
;
    box-shadow: 0 4px 48px #c9dcff4d;
}
.pro-product-thumb-wrap {
    border-radius: 16px;
    width: 100%;
    max-width: 540px;
    overflow: hidden;
}
.pro-product-content {
    width: 100%;
    max-width: 498px;
}
.pro-product-title-wrap {
    margin-bottom: 20px;
}
.pro-product-title {
    font-size: 36px;
    letter-spacing: var(--_letter-spacing---ls-3);
    color: black;
    line-height:3.5 rem;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
}
.pro-product-text{
    color: black;
    font-size:16px;
    line-height: var(--_line-height---lh-150);
    margin-bottom: 30px;
    font-weight: 400;
    margin-top: 0;
}
.pro-btn-wrap {
    z-index: 1;
    border: 1px solid blue;
    background-color: blue;
    color: white;
    font-size: 14px;
    line-height: var(--_line-height---lh-112);
    letter-spacing: var(--_letter-spacing---ls-1);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    font-weight: 600;
    text-decoration: none;
    transition: all .3s linear;
    display: inline-flex
;
    position: relative;
    overflow: hidden;
}
.pro-btn-inner {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    justify-content: center;
    align-items: center;
    height: 16px;
    display: flex
;
}
.pro-btn-icon-wrap {
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    justify-content: flex-end;
    align-items: center;
    width: 16px;
    display: flex
;
    overflow: hidden;
}
.pro-btn-icon {
    flex: none;
    width: 14px;
    line-height: 1px;
}
.pro-c-shape-wrap {
    z-index: -2;
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}